header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 60px;
  font-size: 22px;
  background-color: #332255;
  height: 50px;
  color: white;

  .right {
    .user {
      font-size: 16px;
      cursor: pointer;

      span {
        margin-right: 10px;
      }
    }
  }
}

@media (max-width: 768px) {
  header {
    .right {
      .user {
        span {
          display: none;
        }
      }
    }
  }
}
