<div style="padding: 40px 20%">
  <div>
    <div style="display: block" *ngIf="barChartData.length > 0">
      <canvas
        baseChart
        [datasets]="barChartData"
        [labels]="barChartLabels"
        [options]="barChartOptions"
        [legend]="barChartLegend"
        [chartType]="barChartType"
        [colors]="chartColors"
      >
      </canvas>
    </div>
  </div>
  <div class="card-votes mt-5">
    <div class="votes mr-3" *ngFor="let item of data">
      <p style="flex: 1 0 auto">{{ item.candidate_id }}</p>
      <p>{{ item.qty }}</p>
    </div>
  </div>
</div>
