<div class="electionContainer">
  <div class="glass-container">
    <h2>Selecciona tu opción favorita y VOTA!</h2>
    <div class="vote-info">
      <p>Puedes votar 1 vez cada <span>HH.MM</span></p>
      <p>
        Votación valida desde <span>dd/mm/yy</span> hasta <span>dd/mm/yy</span>
      </p>
    </div>
    <div
      class="candidates"
      [ngClass]="{
        'five-six': arrayCandidates.length > 4 && arrayCandidates.length < 6,
        'more-than-six': arrayCandidates.length >= 6
      }"
    >
      <div
        class="candidate"
        *ngFor="let candidate of arrayCandidates"
        [style]="flexDynamic"
        [ngClass]="{
          'five-six': arrayCandidates.length > 4 && arrayCandidates.length < 6,
          'more-than-six': arrayCandidates.length >= 6
        }"
      >
        <div
          class="img img-candidate"
          #img
          style="background-image: url('/../assets/img/candidates/candidate.jpg');"
          (click)="switchCandidate(img, candidate)"
        >
          <div class="layer"></div>
        </div>

        <div class="name">
          Aretha Franklin
        </div>
      </div>
    </div>
    <div class="bottom">
      <button class="btn btn-primary" (click)="next()">VOTAR</button>
    </div>
  </div>
</div>
