<!-- <app-top-bar></app-top-bar> -->

<div class="electionContainer">
  <div class="glass-container">
    <div class="remainingVotes" *ngIf="multiVote">
      <p>{{ votesTotal }} VOTOS DISPONIBLES</p>
    </div>
    <h2>Selecciona tu opción favorita y VOTA!</h2>
    <div class="vote-info" *ngIf="frecuencyHours > 0">
      <p>
        Puedes votar <span>{{ votesAllowed }} </span>
        <span *ngIf="votesAllowed == 1">vez</span>
        <span *ngIf="votesAllowed > 1">veces</span>
        cada
        <span *ngIf="frecuencyHours > 1">{{ frecuencyHours }}</span
        ><span style="margin: 0 3px;" *ngIf="frecuencyHours == 1">hora</span>
        <span style="margin: 0 3px;" *ngIf="frecuencyHours > 1">horas</span>
        <span *ngIf="frecuencyMinutes > 0">{{ frecuencyMinutes }}</span
        ><span style="margin: 0 3px;" *ngIf="frecuencyMinutes == 1"
          >minuto</span
        >
        <span style="margin: 0 3px;" *ngIf="frecuencyMinutes > 1">minutos</span>
      </p>
    </div>
    <div
      class="candidates"
      [ngClass]="{
        'five-six': arrayCandidates.length > 4 && arrayCandidates.length <= 6,
        'more-than-six': arrayCandidates.length > 6,
        'mobile-three-four':
          arrayCandidates.length > 2 && arrayCandidates.length <= 4 && isMobile,
        'mobile-more-than-four': arrayCandidates.length > 4 && isMobile,
        'mobile-two-simple': arrayCandidates.length > 1 && !multiVote,
        'mobile-more-than-two-simple': arrayCandidates.length > 2 && !multiVote
      }"
    >
      <div
        class="candidate"
        *ngFor="let candidate of arrayCandidates; let i = index"
        [style]="flexDynamic"
      >
        <div
          class="img img-candidate"
          #img
          [style]="'background-image: url(' + arrayCandidates[i]?.img + ');'"
          (click)="switchCandidate(img, candidate)"
          [ngClass]="{ 'no-selection': multiVote }"
        >
          <div class="layer"></div>
        </div>

        <div
          class="name"
          *ngIf="(arrayCandidates.length <= 4 && isMobile) || !isMobile"
        >
          {{ arrayCandidates[i].name }}
        </div>

        <div class="multiVoteControls" *ngIf="!isMobile && multiVote">
          <button
            class="btn btn-primary minus control"
            (click)="minus(arrayCandidates[i])"
          >
            <i class="fas fa-minus"></i>
          </button>
          <div class="count">{{ arrayCandidates[i].amount_assign }}</div>
          <button
            class="btn btn-primary add control"
            (click)="add(arrayCandidates[i])"
          >
            <i class="fas fa-plus"></i>
          </button>
        </div>

        <div
          class="multiVoteControls"
          *ngIf="arrayCandidates.length <= 4 && isMobile && multiVote"
        >
          <button
            class="btn btn-primary minus control"
            (click)="minus(arrayCandidates[i])"
          >
            <i class="fas fa-minus"></i>
          </button>
          <div class="count">{{ arrayCandidates[i].amount_assign }}</div>
          <button
            class="btn btn-primary add control"
            (click)="add(arrayCandidates[i])"
          >
            <i class="fas fa-plus"></i>
          </button>
        </div>

        <div *ngIf="arrayCandidates.length > 4 && isMobile" class="right">
          <div class="name">
            {{ arrayCandidates[i].name }}
          </div>

          <div class="multiVoteControls" *ngIf="multiVote">
            <button
              class="btn btn-primary minus control"
              (click)="minus(arrayCandidates[i])"
            >
              <i class="fas fa-minus"></i>
            </button>
            <div class="count">{{ arrayCandidates[i].amount_assign }}</div>
            <button
              class="btn btn-primary add control"
              (click)="add(arrayCandidates[i])"
            >
              <i class="fas fa-plus"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="bottom" *ngIf="!isMobile">
      <div class="cleanVotes" (click)="cleanVotes()" *ngIf="multiVote">
        Borrar todo
      </div>
      <button
        [disabled]="!canVote || isSending"
        class="btn btn-primary"
        (click)="votar()"
      >
        VOTAR
      </button>
    </div>
  </div>
  <div class="bottom-mobile" *ngIf="isMobile">
    <div class="cleanVotes" (click)="cleanVotes()" *ngIf="multiVote">
      Borrar todo
    </div>
    <button
      [disabled]="!canVote || isSending"
      class="btn btn-primary"
      (click)="votar()"
    >
      VOTAR
    </button>
  </div>
</div>
