<div class="electionContainer">
  <div class="glass-container">
    <div class="remainingVotes" *ngIf="multiVote">
      <p>2 VOTOS DISPONIBLES</p>
    </div>
    <h2>Selecciona tu opción favorita y VOTA!</h2>
    <div class="vote-info">
      <p>Puedes votar 1 vez cada <span>HH.MM</span></p>
      <p>
        Votación valida desde <span>dd/mm/yy</span> hasta <span>dd/mm/yy</span>
      </p>
    </div>
    <div
      class="candidates"
      [ngClass]="{
        'five-six': arrayCandidates.length > 4 && arrayCandidates.length < 6,
        'more-than-six': arrayCandidates.length >= 6,
        'mobile-three-four':
          arrayCandidates.length > 2 && arrayCandidates.length <= 4 && isMobile,
        'mobile-more-than-four': arrayCandidates.length > 4 && isMobile
      }"
    >
      <div
        class="candidate"
        *ngFor="let candidate of arrayCandidates; let i = index"
        [style]="flexDynamic"
      >
        <div
          class="img img-candidate"
          #img
          style="background-image: url('/../assets/img/candidates/candidate.jpg');"
          (click)="switchCandidate(img, candidate)"
          [ngClass]="{ 'no-selection': multiVote }"
        >
          <div class="layer"></div>
        </div>

        <div
          class="name"
          *ngIf="(arrayCandidates.length <= 4 && isMobile) || !isMobile"
        >
          Aretha Franklin
        </div>

        <div
          class="multiVoteControls"
          *ngIf="!isMobile && multiVote"
          style="margin-top: 10px;"
        >
          <button
            class="btn btn-primary minus control"
            (click)="minus(arrayCandidates[i])"
          >
            <i class="fas fa-minus"></i>
          </button>
          <div class="count">{{ arrayCandidates[i].count }}</div>
          <button
            class="btn btn-primary add control"
            (click)="add(arrayCandidates[i])"
          >
            <i class="fas fa-plus"></i>
          </button>
        </div>

        <button
          *ngIf="arrayCandidates.length <= 4 && isMobile && !multiVote"
          class="btn btn-primary btn-votar-mobile"
        >
          Votar
        </button>

        <div
          class="multiVoteControls"
          *ngIf="arrayCandidates.length <= 4 && isMobile && multiVote"
        >
          <button
            class="btn btn-primary minus control"
            (click)="minus(arrayCandidates[i])"
          >
            <i class="fas fa-minus"></i>
          </button>
          <div class="count">{{ arrayCandidates[i].count }}</div>
          <button
            class="btn btn-primary add control"
            (click)="add(arrayCandidates[i])"
          >
            <i class="fas fa-plus"></i>
          </button>
        </div>

        <div *ngIf="arrayCandidates.length > 4 && isMobile" class="right">
          <div class="name">
            Aretha Franklin
          </div>
          <button *ngIf="!multiVote" class="btn btn-primary btn-votar-mobile">
            Votar
          </button>

          <div class="multiVoteControls" *ngIf="multiVote">
            <button
              class="btn btn-primary minus control"
              (click)="minus(arrayCandidates[i])"
            >
              <i class="fas fa-minus"></i>
            </button>
            <div class="count">{{ arrayCandidates[i].count }}</div>
            <button
              class="btn btn-primary add control"
              (click)="add(arrayCandidates[i])"
            >
              <i class="fas fa-plus"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="bottom">
      <button *ngIf="!multiVote" class="btn btn-primary">
        VOTAR
      </button>

      <button *ngIf="multiVote" class="btn btn-primary">
        Siguiente
      </button>
    </div>
  </div>
</div>
