.error-container {
  min-height: 100%;
  display: flex;

  .left {
    flex: 0 0 60%;
    background: #732370;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .right {
    flex: 0 0 40%;
    text-align: center;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-size: cover;

    .errorCode {
      font-size: 5em;
    }
  }

  .info {
    font-size: 32px;
    font-weight: bold;
    margin-top: -15px;
  }
}

@media (max-width: 850px) {
  .error-container {
    flex-direction: column;

    .right {
      flex: 1;
    }
  }
}

@media (max-width: 767px) {
  .error-container {
    flex-direction: column;

    .left {
      display: none;
    }
  }
}
