<div class="content-app" *ngIf="blocks">
  <app-top-bar></app-top-bar>

  <app-survey
    [block]="blocks[actualStep]"
    *ngIf="blocks[actualStep]?.type == 'surveys'"
    (action)="actions($event)"
    [backgroundProperty]="backgroundProperty"
  ></app-survey>

  <app-election
    [block]="blocks[actualStep]"
    [backgroundProperty]="backgroundProperty"
    *ngIf="
      blocks[actualStep]?.type == 'elections' && blocks[actualStep]?.config.name
    "
    (action)="actions($event)"
    style="display: flex;
    flex-direction: column;
    min-height: 100%;"
  ></app-election>
  <app-message
    *ngIf="blocks[actualStep]?.type == 'message-text'"
    (action)="actions($event)"
    [block]="blocks[actualStep]"
    [backgroundProperty]="backgroundProperty"
  ></app-message>
</div>

<div
  class="loading"
  *ngIf="!blocks && !eventHasEnded"
  style="min-height: 100%;
display: flex;
justify-content: center;
align-items: center;"
>
  <div
    class="spinner-border text-primary"
    role="status"
    style="    width: 3rem;
    height: 3rem;"
  >
    <span class="sr-only"></span>
  </div>
</div>
