<div
  class="content-app"
  [ngStyle]="{
    background: 'url(' + backgroundImage + ') no-repeat center center / cover'
  }"
  *ngIf="blocks"
>
  <!-- <div class="content-component">
    <app-survey></app-survey>
  </div> -->

  <div class="content-component" *ngFor="let item of blocks; let i = index">
    <app-survey
      [block]="item"
      *ngIf="item.type == 'surveys' && actualStep == i"
      (action)="actions($event)"
    ></app-survey>
    <app-election
      *ngIf="item.type == 'elections' && actualStep == i"
      (action)="actions($event)"
    ></app-election>
    <app-message
      *ngIf="item.type == 'message' && actualStep == i"
      (action)="actions($event)"
    ></app-message>
  </div>
</div>

<div
  class="loading"
  *ngIf="!blocks"
  style="height: 100%;
display: flex;
justify-content: center;
align-items: center;"
>
  <div
    class="spinner-border text-primary"
    role="status"
    style="    width: 3rem;
    height: 3rem;"
  >
    <span class="sr-only"></span>
  </div>
</div>
